<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>问题</title>
  </head>
  <script type="text/javascript" src='vue.js'></script>
  <style>
    #content {
      width: 400px;
      background: #f2f2f2;
    }
    ul {
      background-color: #b8b8b8;
      margin:0;
      padding:0;
    }
    .choiceli {
      list-style:none;
      text-align: center;
      border: 1px solid #000;
      cursor: pointer;
    }
    .option {
      background: #4a4a4a;
    }
    .optionNo {
      background: #9b9b9b;
    }
  </style>
  <body>
    <div id="box">
      <div id="content" v-for="(item, index) in question">
        <p>{{item.title}}</p>
        <ul>
          <li class="choiceli" v-for="(choice, key) in item.answer" @click='selectTab(item.type, index, key)' :class="classObject(item.type, index, key)"> {{ choice }} </li>
        </ul>
      </div>
    </div>
    <script>
      new Vue({
        el: '#box',
        data: {
          question: [
            {
              title: '1这是始终显示的标题嗷嗷嗷啊示的标题嗷嗷嗷示的标题嗷嗷嗷示的标题嗷嗷嗷示的标题嗷嗷嗷',
              answer: [1, 2],
              type: 1 //1为单选
            },
            {
              title: '1这是始终显示的标题嗷嗷嗷啊示的标题嗷嗷嗷示的标题嗷嗷嗷示的标题嗷嗷嗷示的标题嗷嗷嗷',
              answer: [1, 2],
              type: 1 //1为单选
            },
            {
              title: '1这是始终显示的标题嗷嗷嗷啊示',
              answer: [1, 2, 3],
              type: 2 //2为多选
            },
            {
              title: '1这是始终显示的标题嗷嗷嗷啊示',
              answer: [1, 2, 3, 4],
              type: 2 //2为多选
            },
          ],
          optionTab: [],
          optionClick: [],
          optionResult:[],
        },
        computed: {
          translate() {
            for(var i = 0; i < this.optionClick.length; i++) {
              if(this.optionClick[i].length) {
                for(var j = 0; j < this.optionClick[i].length; j++) {
                  if(this.optionClick[i][j] === true) {
                    this.optionResult[i].push(j)
                  }
                }
              } else {
                this.optionResult[i] = this.optionClick[i]
              }
            }
          }
        },
        methods: {
          selectTab(type, index, key) {
            if(type === 1) {
              this.$set(this.optionClick, index, key+1)
            } else if (type === 2) {
              const val = this.optionClick[index][key]
              const click = this.optionClick[index]
              this.$set(click, key, !val)
              this.$set(this.optionClick, index, click)
            }
          },
          classObject(type, index, key) {
            if(type === 1) {
              return {
                option: this.optionClick[index] === key+1,
                optionNo: this.optionClick[index]!= key+1
              }
            } else if (type === 2) {
              return {
                option: this.optionClick[index][key] === true,
                optionNo: this.optionClick[index][key] === false
              }
            }
          }
        },
        created() {
          const question = this.question
          for(var i = 0; i < question.length; i++) {
            this.optionClick[i] = new Array();
            for(var j=0; j < question[i].answer.length; j++) {
              if (question[i].type === 1) {
                this.optionClick[i][0] = 0
              } else if (question[i].type === 2) {
                this.optionClick[i][j] = false
              }
            }
          }
        }
      })
    </script>
  </body>
</html>
